[Unit]
Description=Дополнительный таймер проверки срока истечения действия пароля AD

[Timer]
OnUnitInactiveSec=2h
AccuracySec=1m
Unit=check-expire-userpas-AD.service

[Install]
WantedBy=timers.target
